$color-purple: #8082b7;
$color-blue: #5da6cb;
$color-teal: #809dad;
$color-mint: #c2e1d0;
$color-dark-pink: #e4a1c2;
$color-light-pink: #f9d5ff;
$color-yellow: #f2d28b;

$body-font: 'Mali', sans-serif;
$header-font: 'Lilita One', cursive;

* {
  margin: 0;
  font-family: $body-font;
  font-size: 10px;
  line-height: 1.5;
  vertical-align: bottom;
}

.fab {
  font-size: 5vw;
}

// .nav {
//   list-style: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 8rem;
//   background: $color-blue;
// }

// .nav li {
//   font-size: 2.5rem;
//   padding: 0 4vw;
//   color: white;
// }

nav {
  background-color: #5da6cb;

  a.nav-link,
  a.navbar-brand {
    font-size: 2.5vw;
    margin: 0.5vw 2vw;
    color: white;
  }

  .navbar-toggler {
    color: white;
  }
}

header {
  margin: 6vw 8vw;
}

h1 {
  font: 6vw $header-font;
  color: $color-dark-pink;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container p {
  padding: 0 4rem 0 0;
  font-size: 2vw;
}

.woman-desk {
  width: 50%;
}

section {
  // margin: 8vw;
}

.divider {
  background: linear-gradient($color-dark-pink,$color-mint,$color-blue,$color-purple);
  width: 100%;
  aspect-ratio: 8;
  position: relative;
}

.divider img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.divider img:nth-of-type(2n) {
  position: absolute;
  left: 0;
  bottom: 0;
}

// Portfolio Section

h2 {
  font: 5vw $header-font;
  color: $color-dark-pink;
  text-align: center;
  padding-bottom: 2vw;
}

h3 {
  font: 2vw $header-font;
  text-align: center;
}

.monitor {
  width: 40%;
}

.portfolio-row {
  border-bottom: 1px black solid;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  padding: 3vw 0;
  margin: 0 8vw;
}

.portfolio-text {
  padding: 0 2vw;
}

.portfolio-text p {
  font-size: 1.25vw;
  padding-top: 2rem;
}

.github-section {
  text-align: center;
  padding: 4rem 0;

  p {
    font-size: 1.25vw;
    margin-bottom: 2rem;
  }

  span {
    font: 1.25vw $header-font;
    vertical-align: baseline;
  }
}


// Old Portfolio CSS

// h2 {
//   font: 5vw $header-font;
//   color: $color-dark-pink;
//   text-align: center;
//   padding-bottom: 2rem;
// }
// .portfolio-containers {
//   display: flex;
//   justify-content: center;
//   padding: 4vw 4vw 1vw 4vw;
//   position: relative;
// }

// .portfolio-containers:nth-of-type(1n) {
//   background: linear-gradient(#FFF, $color-light-pink );
// }

// .portfolio-containers:nth-of-type(2n) {
//   background: linear-gradient(#FFF, $color-yellow );
// }

// .portfolio-images {
//   display: flex;
//   align-items: end;
//   flex: 1;
// }

// .portfolio-images:nth-of-type(2n) {
//   margin-right: -4vw;
// }

// .monitor {
//   width: 55%;
//   height: auto;
//   cursor: pointer;
// }

// .tablet {
//   width: 45%;
//   height: auto;
// }

// .mobile {
//   width: 25%;
//   height: auto;
//   padding: 0 3vw 0 6vw;
// }

// .portfolio-text {
//   flex: 1;
// }

// h3 {
//   font: 2.5vw $header-font;
//   text-align: center;
//   padding-bottom: 1rem;
//   color: $color-teal;
// }

// .portfolio-text p {
//   font-size: 1.8vw;
//   /* padding-bottom: 3rem; */
// }

// .screen-view {
//   position: absolute;
// }

// .show {
//   display: block;
// }

// .bob-monitor {
//   /* display: none; */
//   width: 20.75%;
//   border-radius: 5px;
//   top: 16.25%;
//   left: 4.2%;
//   cursor: pointer;
// }

// .bob-tablet {
//   width: 15.5%;
//   height: 49%;
//   border-radius: 5%;
//   left: 29.55%;
//   bottom: 7.25%;
// }

// .sean-monitor {
//   width: 21.6%;
//   height: 50.5%;
//   right: 5.2%;
//   bottom: 34%;
//   border-radius: 0.5vw;
// }

// .sean-mobile {
//   width: 7.65%;
//   height: 58.5%;
//   right: 33.85%;
//   bottom: 10%;
//   border-radius: 1vw;
// }

// .github-link {
//   margin: 10vh 0;
// }

// .github-link a {
//   font: 2.5vw $header-font;
//   color: $color-teal;
// }