* {
  margin: 0;
  line-height: 1.5;
  vertical-align: bottom; }

body {
  font: 1.75vw "Mali", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Lilita One", cursive;
  margin-bottom: 2vw; }

h1 {
  font-size: 6vw; }

h2 {
  font-size: 4.5vw; }

.fab {
  font-size: 5vw; }

/*--------------------
        NAVBAR
--------------------*/
nav {
  background-color: #5da6cb; }
  nav .container-fluid {
    font-size: 2vw; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.navbar-dark .navbar-toggler {
  color: white;
  border-color: rgba(255, 255, 255, 0.75); }

/*--------------------
        HEADER
--------------------*/
header {
  margin: 7vw; }

/*--------------------
        DIVIDER
--------------------*/
.divider {
  background: linear-gradient(#e4a1c2, #c2e1d0, #5da6cb, #8082b7);
  width: 100%;
  aspect-ratio: 8;
  position: relative;
  margin: 0; }

.divider img:first-child {
  position: absolute;
  top: 0;
  left: 0; }

.divider img:nth-of-type(2n) {
  position: absolute;
  left: 0;
  bottom: 0; }

/*--------------------
       PORTFOLIO
--------------------*/
.accordion-button {
  font-size: 2.75vw; }

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #fff;
  box-shadow: none; }

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px; }

.accordion-button::after {
  width: 3vw;
  height: 3vw;
  background-size: 3vw; }
