$color-blue: #5da6cb;
$color-pink: #e4a1c2;
$color-green: #c2e1d0;
$color-purple: #8082b7;

$body-font: 1.75vw "Mali", sans-serif;
$header-font: "Lilita One", cursive;

$main-margin: 7vw;

* {
  margin: 0;
  line-height: 1.5;
  vertical-align: bottom; 
}

body {
  font: $body-font;
}

h1, h2, h3, h4 {
  font-family: $header-font;
  margin-bottom: 2vw;
}

h1 {
  font-size: 7vw;
  width: 40vw;
  background: -webkit-linear-gradient(45deg, $color-purple, $color-pink, $color-green, $color-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 6vw;
  width: 23vw;
  margin: 0 auto;
  background: -webkit-linear-gradient(45deg, $color-purple, $color-pink, $color-green, $color-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 3vw;
  // color: $color-pink;
}

h4 {
  font-size: 2.5vw;
}

.fab {
  font-size: 7vw; 
}

/*--------------------
        NAVBAR
--------------------*/

nav {
  background-color: $color-blue;

  .container-fluid {
    font-size: 2vw;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,.75);
}

/*--------------------
        HEADER
--------------------*/

header {
  margin: $main-margin;
  padding-top: 5rem;
}

/*--------------------
        DIVIDER
--------------------*/

.divider {
  background: linear-gradient($color-pink, $color-green, $color-blue, $color-purple);
  width: 100%;
  aspect-ratio: 8;
  position: relative;
  margin: 0;
}

.divider img:first-child {
  position: absolute;
  top: 0;
  left: 0; 
}

.divider img:nth-of-type(2n) {
  position: absolute;
  left: 0;
  bottom: 0; 
}

/*--------------------
       PORTFOLIO
--------------------*/

.accordion-button {
  font-size: 2.75vw;
  color: $color-blue;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus  {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
}

.accordion-button::after {
  width: 3vw;
  height: 3vw;
  background-size: 3vw;
}

.accordion-button:not(.collapsed)::after {
  opacity: 0.75;
}

.app-view-container {
  position: relative;

  .monitor {
    position: relative;
    z-index: 1;
  }
  
  .app {
    position: absolute;
    top: 5.5%;
    left: 5%; 
    width: 90%;
  }  
}

/*--------------------
        ABOUT
--------------------*/

.sam-sitting {
  border: 0.75vw solid $color-green;
}

.toolkit-card {
  background: linear-gradient(45deg, rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5));
}

.experience-card {
  background: linear-gradient(45deg, rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5));
  
}

.education-card {
  background: linear-gradient(45deg, rgba(128, 130, 183, 0.5), rgba(93, 166, 203, 0.5), rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5));
  height: 40vw;
}

.fun-facts-card {
  background: linear-gradient(45deg, rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(228, 161, 194, 0.5));
  height: 40vw;
}

.experience-item {

  p {
    font-size: 1.5vw;
  }
  a {
    color: black;
  }
}

.toolkit-card {
  .fab {
    font-size: 5vw;
  }
}



// ul.experience-list {
//   margin-left: 3vw;
//   background: url('../images/star.png') no-repeat;

//   li, p {
//     margin-left: 1vw;
//     list-style: none;
//     vertical-align: middle;
//   }
// }